		html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, font, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        }
		.clearfix:before,
    .clearfix:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size:0;
		}
 @font-face {
	  font-family:'iconfont';
	  src: url('../font/iconfont.eot');
	  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/iconfont.woff') format('woff'),
	  url('../font/iconfont.ttf') format('truetype'),
	  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
	  font-family:"iconfont" !important;
	  font-size:16px;font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
}
		.clearfix { *zoom:1;}
		a{
  -webkit-tap-highlight-color:transparent !important
}
		header{
			width: 6.4rem;
		}
		.h-top{
			width: 5.5rem;
			background: #50bbdb;
			padding: 0 .45rem;
			display: flex;
			justify-content: space-between;
		}
		.h-top>h3{
			font-size: .27rem;
			font-weight: normal;
			color: #fff;
			line-height: .88rem;
		}
		.h-top>a{
			display: block;
			text-decoration: none;
			width: .43rem;
			font-size: .34rem;
			color: #fff;
			line-height: .88rem;
		}
		.h-top>a i{
			font-size: 0.3rem;
		}
		.h-top>a:last-child{
			font-size: .2rem;
		}
		.h-banner{
			padding: .1rem 0;
		}
		.h-banner>p{
			width: 5.35rem;
			font-size: .24rem;
			line-height: .41rem;
			margin-left: .08rem;
		}
		.main{
			width: 6.4rem;
			background: #ededed;
			padding-top: .17rem;
		}
		.main>div{
			width: 6.04rem;
			margin: 0 auto;
			border-radius: .1rem;
			background: #fff;
			margin-top: .17rem;
			padding: .14rem 0 .1rem 0;
		}
		.main>div:first-child{
			margin-top: 0;
		}
		.main h3{
			display: block;
			font-size: .24rem;
			padding-left: .18rem;
			margin-left: .13rem;
			border-left: .04rem solid #50bbdb;
			margin-bottom: .1rem;
		}
		.main p{
			display: block;
			font-size: .2rem;
			line-height: .56rem;
		}
		.main p:first-child{
			margin-left: .37rem;
		}
		.room a{
			margin-top: .07rem;
			display: block;
			width: .4rem;
			font-size: .12rem;
			text-decoration: none;
			line-height: .27rem;
			height: .27rem;
			border: 1px solid #ccc;
			color: #6fc1cd;
			text-align: center;
		}
		.main>div>div:first-child{
			border-bottom: .01rem solid #ccc;
		}
		.room{
			width: 2.97rem;
			display: flex;
			justify-content: space-between;
			margin-left: .37rem;
		}
		.main .room>p{
			margin-left: 0rem;
		}
		.room>div{
			width: 1.28rem;
			display: flex;
			justify-content: space-between;
		}
		.room>div>input{
			display: block;
			padding:0;
			width: .49rem;
			font-size: .12rem;
			outline: none;
			height: .27rem;
			margin-top: .07rem;
			border: 1px solid #ccc;
			text-align: center;
		}
		.splice{
			width: 6.4rem;
			display: flex;	
		}
		.splice>div{
			display: flex;
		}
		.splice>p{
			margin-left: .36rem;
		}
		.splice> div input{
			margin-top: .2rem;
		}
		.line>div:nth-child(7)>div>p:first-child{
			width: 1.77rem;
			margin-left: 0;
		}
		.xiugai{
			width: 5.17rem;
			display: flex;
			justify-content: space-between;
		}
		.xiugai button{
			width: 0.73rem;
		    line-height: 0.31rem;
		    height: 0.31rem;
		    padding: 0;
		    border: 2px solid #ccc;
		    border-radius: 3px;
		    outline: none;
		    color: #50bbdb;
		    background-color: #fff;
		}
		/*.line>div:last-child{
			width: 3.66rem;
			display: flex;
			justify-content: space-between;
			margin-left: 1.77rem;
		}*/
		.line>div:last-child>input{
			margin-top: .2rem;
		}
		.cost>div:first-child{
			width: 2.57rem;
			padding-right: 3.47rem; 
			display: flex;
			justify-content: space-between;
			position: relative;
		}
		.cost>div:first-child>h3:last-child{
			padding-left: 0;
			border: 0;
		}
		.cost span{
			display: block;
			font-size: .18rem;
			line-height: .44rem;
			margin-left: .38rem;
		}
		.cost>div>img{
			position: absolute;
			width: 1.16rem;
			top: .33rem;
			left: .28rem;
		}
		.linkman h3,.tourist h3{
			width: 3.1rem;
			display: flex;
			justify-content: space-between;
		}
		.linkman>div:first-child{
			width: 6.05rem;
			margin-left: 0;
		}
		.linkman>div{
			width: 5.42rem;
			border-bottom: .01rem solid #ccc;
			margin-left: .33rem;
		}
		.baocuo{
			display: flex;	
		}
		.main h3 span{
			font-size: 0.2rem;
			color: red;
		}
		.main .linkman p{
			margin-left: 0;
		}
		.name{
			display: flex;
			justify-content: space-between;
		}
		.name>input{
			flex: 1;
			font-size: .2rem;
			border: 0;
			outline: 0;
		}
		.sex{
			display: flex;
			justify-content: space-between;
		}
		.sex>div{
			width: 1.48rem;
			display: flex;
			justify-content: space-between;
			margin-right: 1.88rem;
		}
		.sex>div>input{
			margin-top: .2rem;
		}
		.number{
			display: flex;
			justify-content: space-between;
		}
		.number>input{
			flex: 1;
			font-size: .2rem;
			border: 0;
			outline: 0;
		}
		.email{
			display: flex;
			justify-content: space-between;
		}
		.email>input{
			flex: 1;
			font-size: .2rem;
			border: 0;
			outline: 0;
		}
		.linkman span{
			color: #50bbdb;
		}
		.tourist>div{
			width: 5.42rem;
			border-bottom: .01rem solid #ccc;
			margin-left: .33rem;
		}
		.tourist>div a{
			margin-right: .33rem;
			color: #50bbdb;
			font-size: 0.2rem;
			margin-top: -.1rem;
			text-decoration: none;
			line-height: 0.31rem;
			display: block;
		}
		.tourist span{
			color: #50bbdb;
		}
		.tourist>div:first-child{
			width: 6.04rem;
			margin-left: 0;
			display: flex;
			justify-content: space-between;
		}
		.main .tourist p{
			margin-left: 0;
		}
		.tourist>div:first-child>p{
			margin-right: .33rem;
			color: #50bbdb;
			margin-top: -.1rem;
		}
		.tourist>div:nth-child(2){
			display: flex;
			justify-content: space-between;
		}
		.tourist>div:nth-child(2)>input{
			flex: 1;
			font-size: .2rem;
			border: 0;
			outline: 0;
		}
		.tourist>div:nth-child(3){
			display: flex;
			justify-content: space-between;
			position: relative;
		}
		.tourist>div:nth-child(3)>button{
			margin-right: 3.23rem;
			width: 1.02rem;
			font-size: .16rem;
			background: #fafafa;
			height: .39rem;
			margin-top: .06rem;
			border: .01rem solid #ccc;
			outline: 0;
		}
		.tourist>div:nth-child(3)>ul{
			font-size: .18rem;
			list-style: none;
			display: block;
			background: #fafafa;
			position: absolute;
			left: 1.18rem;
			top: .44rem;
			line-height: .37rem;
			width: 1rem;
			text-align: center;
			display: none;
		}
		.tourist>a{
			margin: 0 auto;
			margin-top: .21rem;
			color: #ccc;
			width: .37rem;
			height: .37rem;
			line-height: .37rem;
			border-radius: 50%;
			display: block;
			font-size: .12rem;
            text-decoration: none;
            border: .01rem solid #ccc;
            text-align: center;
		}
		.main .agreement{
			width: 3rem;
			background: #ededed;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin-top: .17rem;
		}
		.insurance-a{
			width: 6.04rem;
		    margin: 0 auto;
		    border-radius: 0.07rem;
		    background-color: #fff;
		    margin-bottom: 0.18rem;
		    padding-top: 0.14rem;
		}
		.insurance-a h3{
			display: flex;
			font-size: 0.24rem;
			font-family: '[STHeitiSC]';
			line-height: 0.27rem;
			border-left: 4px solid #50bbdb;
			padding-left: 0.19rem;
			justify-content: space-between;
			margin-bottom: 0.1rem;
			margin-left: 0.13rem;
		}
		.insurance-a>div{
			border-top: 1px solid #dcdcdc;
	        padding:0.05rem 0 0.12rem 0;
	        width: 5.38rem;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}
		.agreement>input{
			width: .19rem;
			height: .19rem;
			background: #fff;
			margin-top: .24rem;
		}
		.baoxian{
	        flex: 1;
        }
		.insurance-a div a{
			display: block;
			width: 0.29rem;
			margin-right: 0.12rem;
		}
		.insurance-a div img{
			display: block;
			width: 0.29rem;
			height: 0.27rem;
		}
		.insurance-a div p{
			font-size: 0.2rem;
			font-family: '[STHeitiSC]';
			line-height: 0.22rem;
		}
		.insurance-a div p span{
			color: #f98d0d;
		}
	    .insurance-a div p:nth-child(3){
			text-align: right;
		}
		.agreement>p{
			line-height: .68rem;
		}
		footer{
			width: 5.97rem;
			display: flex;
			justify-content: space-between;
			padding: .16rem .26rem .16rem .17rem;
		}
		footer p{
			font-size: .22rem;
			color: #f0851a;
			line-height: .66rem;
		}
		footer p span{
			font-size: .22rem;
			color: #f0851a;
			line-height: .66rem;
		}
		footer a{
			display: block;
			width: 2.35rem;
			font-size: .24rem;
			color: #fff;
			text-align: center;
			line-height: .66rem;
			text-decoration: none;
			background: #50bbdb;
			border-radius: .04rem;
		}