html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
  @font-face {
	  font-family:'iconfont';
	  src: url('../font/iconfont.eot');
	  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/iconfont.woff') format('woff'),
	  url('../font/iconfont.ttf') format('truetype'),
	  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
	  font-family:"iconfont" !important;
	  font-size:16px;font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
}
a{
  -webkit-tap-highlight-color:transparent !important
}
.top{
	width: 6.4rem;
	background-color: #50bbdb;
}
.top-up{
	width: 5.9rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.top-up h1{
	font-size: 0.24rem;
	font-family: '[STHeitiSC]';
	line-height: 0.88rem;
	color: #fff;
	
}
.top-up a,.top-up span{
	width: 0.47rem;
	font-size: 0.4rem;
	line-height: 0.88rem;
	height: 0.88rem;
	text-decoration: none;
}
.top-up a i{
	font-size: 0.4rem;
	line-height: 0.88rem;
	color: #fff;
}
.classification{
	display: flex;
	justify-content: space-between;
	background-color: #d2d2d2;
}
.classification button{
	text-align: center;
	width: 3.19rem;
	border: none;
	font-size: 0.24rem;
	font-family: '[STHeitiSC]';
	outline: none;
	line-height: 0.74rem;
	background-color: #fff;
}
.classification button img{
	padding-left: 0.14rem;
}
.classification-beijing{
	position:absolute;
	top:1.63rem;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	display: none;
}
.classification-a,.classification-b{
	width: 6.4rem;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff;

}
.classification-a img{
	position: absolute;
	right: 1.66rem;
	top: -13px;
}
.classification-b img{
	position: absolute;
	left: 1.63rem;
	top: -13px;
}
.classification-a div,.classification-b div{
	width: 6.4rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #dadada;
}
.classification-a div:nth-child(2),.classification-b div:nth-child(2){
	border-top: none;
}
.classification-a a,.classification-b a{
	display: block;
	width: 3.2rem;
	font-size: 0.24rem;
	font-family: '[STHeitiSC]';
	color: #666;
	line-height: 0.69rem;
	padding-left: 0.22rem;
	text-decoration: none;
}
.main>div{
	width: 6.4rem;
    border-top: 0.14rem solid #f1f1f1;
}
.order-status{
	width: 6.02rem;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	border-bottom: 1px dashed #b5b5b5;
}
.order-status span{
	width: 3.19rem;
	font-size: 0.18rem;
	font-family: '[STHeitiSC]';
	text-align: left;
	line-height: 0.34rem;
	color: #999;
}
.order-status span:nth-child(2){
	margin-left: 0.19rem;
}
.main>div>p{
	font-size: 0.24rem;
	font-family: '[STHeitiSC]';
	line-height: 0.54rem;
	margin-left: 0.19rem;
}
.main>div>div:nth-child(3){
	width: 3.6rem;
	display: flex;
	justify-content: space-between;
	margin-left: 0.19rem;

}
.main>div>div:nth-child(3) span{
	/*display: block;*/
	font-size: 0.18rem;
	font-family: '[STHeitiSC]';
	line-height: 0.3rem;
	padding-bottom: 0.11rem;
	color: #808080;
}
.main>div>div:nth-child(3) p{
	font-size: 0.16rem;
	font-family: '[STHeitiSC]';
	color: #ea561d;
}
.main>div>div:nth-child(3) p span{
	color: #ea561d;
}
.operation{
	width: 6.4rem;
	border-top: 1px solid #b5b5b5;
}
.operation-a{
	width: 5.93em;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.09rem;
}
.operation span,.operation a{
	font-size: 0.24rem;
	font-family: '[STHeitiSC]';
}
.operation span{
	color:#ea561d;
	line-height: 0.51rem;
}
.operation a{
	display: flex;
	justify-content: space-around;
	width: 0.86rem;
	line-height: 0.34rem;
	text-decoration: none;
	text-align: center;
	color: #333;
	border: 1px solid #bfbfbf;
	margin-top: 0.1rem;
}
.operation a img{
	width: 0.14rem;	
    height: 0.08rem;
    padding-top: 0.14rem;
}