		html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, font, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        }
		.clearfix:before,
    .clearfix:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size:0;
		}
		.clearfix { *zoom:1;}
@font-face {
	  font-family:'iconfont';
	  src: url('../font/iconfont.eot');
	  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/iconfont.woff') format('woff'),
	  url('../font/iconfont.ttf') format('truetype'),
	  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
	  font-family:"iconfont" !important;
	  font-size:16px;font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
}
a{
  -webkit-tap-highlight-color:transparent !important
}
		header{
			width: 6.4rem;
		}
		.h-top{
			width: 5.5rem;
			background: #50bbdb;
			padding: 0 .45rem;
			display: flex;
			justify-content: space-between;
		}
		.h-top>h3{
			font-size: .27rem;
			font-weight: normal;
			color: #fff;
			line-height: .88rem;
		}
		.h-top>a{
			display: block;
			text-decoration: none;
			width: .43rem;
			font-size: .34rem;
			color: #fff;
			line-height: .88rem;
		}
		.h-top>a i{
			font-size: 0.3rem;
		}
		.h-top>a:last-child{
			font-size: .2rem;
		}
		.h-banner{
			width: 6.4rem;
			text-align: center;
			border-bottom: .01rem solid #ccc;
		}
		.h-banner>p{
			font-size: .24rem;
			line-height: .49rem;
		}
		.h-banner>p>span{
			color: #4eb9cb;
		}
		.main{
			margin-bottom: 4.89rem;
		}
		.main>div{
			width: 5.73rem;
			padding: 0 .22rem 0 .45rem;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			border-bottom: .01rem solid #ccc;
		}
		.main>div>img{
			display: block;
			width: .48rem;
			height: .48rem;
			margin-top: .09rem;
		}
		.sel{
      display: block;
      width: 0.31rem;
      line-height: 0.31rem;
      height: 0.31rem;
      border-radius: 50%;
      margin-top: 0.19rem;
    }
    .sel>img{
      display: block;
     }
		.main>div>p{
			font-size: .24rem;
			line-height: .66rem;
			flex: 1;
			margin-left: .19rem;
		}
		footer{
			width: 6.4rem;
			background: #51bad8;
		}
		footer>div{
			width: 2.3rem;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}
		footer>div>img{
			display: block;
			width: .4rem;
			height: .4rem;
			margin-top: .29rem;
		}
		footer>div>a:nth-child(1){
			display: block;
			width: 0.43rem;

		}
		footer>div>a:nth-child(1) i{
			font-size: 0.3rem;
		}
		footer>div>a{
			font-size: .26rem;
			color: #fff;
			line-height: .98rem;
			text-decoration: none;
		}